
.dashboard-background {
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(135deg, #26334e 0%, #26334e 60%, #e97c2c 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-sizing: border-box;
}

